<div class="content">
  <%- partial('_partial/header_index') %>
  <div class="blog">
    <!-- Posts -->
    <section class="posts">
      <% page.posts.each(function (post) { %>
        <article class="post">
          <div class="post-title">
            <a class="post-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
          </div>

          <!-- 短歌居中显示 -->
          <% var a = /短歌/ ; %>
          <% var b = post.tags.first().name ; %>
          <% if (a.test(b)) { %>
            <div class="post-content poetry">
              <%- post.excerpt %>
            </div>
          <% } else { %>
            <div class="post-content">
              <%- post.excerpt %>
            </div>
          <% } %>

          <div class="post-meta">
            <span class="post-time"><%- date(post.date, "YYYY.MM.DD") %></span>
            <span class="tags-links">
              <% post.tags.each(function (tag) { %>
                <a href="<%= config.root %>tags/<%= tag.name %>/" rel="tag">
                  <img class="tag" src="/images/tag.svg">
                  <%- tag.name %>
                </a>
              <% }); %>
            </span>
          </div>
        </article>
      <% }) %>
    </section>
    <%- partial('_partial/paginator') %>
  </div>
  <%- partial('_partial/footer') %>
</div>
